beartype
decord
diffusers==0.31.0
einops
gdown
huggingface_hub
imageio
jupyterlab
lightning
matplotlib
moviepy==1.0.3
numpy
omegaconf
opencv_python
opencv_python_headless
packaging
pandas
Pillow
PyYAML
Requests
rich
safetensors
scipy
torch>=2.4.0
torchvision
tqdm
wandb
webdataset
