beartype
decord
diffusers==0.31.0
einops
gdown
huggingface_hub
imageio
lightning
matplotlib
numpy
omegaconf
opencv_python
opencv_python_headless
packaging
pandas
Pillow
PyYAML
PyYAML
Requests
rich
safetensors
scipy
torch>=2.5.0
torchvision
tqdm
wandb
webdataset
